# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing these this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: MilkyTracker
description: > # this means to ignore newlines until "baseurl:"
  Open source multi-platform Fasttracker II compatible music application.
keywords: MilkyTracker, FT2, Fasttracker II, Fast Tracker, tracker, tracking, modules, mods, .XM, .MOD, demoscene, chiptune
current_version: v1.04
permalink: pretty

# Build settings
markdown: kramdown
theme: minima
gems:
  - jekyll-feed
exclude:
  - vendor/bundle
  - Gemfile
  - Gemfile.lock
